.about {
  background: #cb542f;
}

.about .skill-container {
  display: inline-block;
  border: solid 8px white;
  width: 232px;
  height: 232px;
  border-radius: 50%;
  padding: 6px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5) inset;
}

.about .skill-container input {
  display: none;
}

.about .skill-container .skill-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about blockquote {
  font-size: 18px;
  padding: 0;
  margin: 0;
  border: 0;
}

.about blockquote p:not(:last-child) {
  position: relative;
  padding: 55px 0 12px 40px;
  /*line-height: 24px;
				margin-bottom: 16px;*/
}

.about blockquote p:not(:last-child):before {
  content: '"';
  font-size: 72px;
  font-style: italic;
  position: absolute;
  top: 13px;
  left: -9px;
  color: rgba(255, 255, 255, 0.4);
}

.about blockquote p:last-child {
  float: right;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  font-style: normal;
}