.portfolio {
  background: #cc9031;
  padding-bottom: 70px;
}

.portfolio .heading .nav {
  font-size: font-size-md;
  font-weight: 700;
}

.portfolio .heading .nav li {
  display: inline-block;
  padding: 0 20px;
  font-size: font-size-md;
  font-weight: 700;
}

/*filter .nav-pills > li {
  padding: 0 20px;
}

.filter .nav-pills > li:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 100%;
  width: 10px;
  height: 19px;
  background: url(../images/filter-decor.png) no-repeat;
}

.filter .nav-pills > li:last-child:before {
  background: none;
}

.filter .nav-pills > li > a {
  border-radius: 0;
  position: relative;
  padding: 10px 0;
  font-size: 22px;
  font-weight: bold;
}

.filter .nav-pills > li > a:hover {
  background: none;
  color: #ffe7c0;
  border: solid #edcd99;
  border-width: 0 0 3px 0;
  padding: 10px 0 7px;
}

.filter .nav-pills > li.active > a {
  background: none;
  border: solid #edcd99;
  border-width: 3px 0 3px 0;
  color: #ffe7c0;
  padding: 7px 0;
}


/*.works-block .heading ul{
	padding-bottom: 20px;
	padding-left: 0;
}
.works-block .heading li{
	list-style: none;
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: bold;
	line-height: 48px;
	font-family: Oxygen, Arial, serif;
	padding: 0 15px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.works-block .heading a{
	text-decoration: none;
	padding: 3px 0 7px;
}
.works-block .heading a:hover,
.works-block .heading a.active{
	border-top: 3px solid rgba(255, 255, 255, .6);
	border-bottom: 3px solid rgba(255, 255, 255, .6);
	color: rgba(255, 255, 255, .8);
}

/*.filter {
  display: inline-block;
}

.filter .nav-pills > li {
  padding: 0 20px;
}

.filter .nav-pills > li:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 100%;
  width: 10px;
  height: 19px;
  background: url(../images/filter-decor.png) no-repeat;
}

.filter .nav-pills > li:last-child:before {
  background: none;
}

.filter .nav-pills > li > a {
  border-radius: 0;
  position: relative;
  padding: 7px 0 10px;
  font-size: 22px;
  font-weight: bold;
}

.filter .nav-pills > li > a:hover {
  background: none;
  color: #ffe7c0;
  border: solid #edcd99;
  border-width: 0 0 3px 0;
  padding: 7px 0 7px;
}

.filter .nav-pills > li.active > a {
  background: none;
  border: solid #edcd99;
  border-width: 3px 0 3px 0;
  color: #ffe7c0;
  padding: 7px 0 4px;
}
*/
